<div class="container d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <img src="https://github.com/tree12132002/line_chatbot/blob/main/072qfwfz.png?raw=true" class="card-img-top" alt="QR code">
    <div class="card-body">
      <h4 class="card-title">餐廳小幫手 linebot</h4>
      <p class="card-text">
        請加入 LINE 好友即可使用
      </p>
      <p>
        使用期間保持網頁開啟，以免伺服器連線失敗
      </p>
    </div>
  </div>
</div>